@import "../base/pallete.css";

.introduction {
  background-color: var(--lightPurple);
  height: 100vh;
}

.introduction__container {
  display: block;
  position: relative;
  background-color: var(--white);
  height: 26rem;
  width: 29.188rem;
  margin: auto;
  margin-top: 5rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--orange);
}

.introduction__container__text {
  display: flex;
  text-align: center;
  padding: 7rem 0;
  color: var(--darkPurple);
  font-size: 1.125rem;
}

.introduction__container__button {
  text-align: center;
  margin-top: 1.5rem;
}

.introduction__container__image {
  margin-top: -5rem;
  position: absolute;
  margin-left: 20rem;
}

@media (max-width: 600px) {
  .introduction__container {
    width: 25rem;
  }
  .introduction__container__image {
    margin-left: 19rem;
    margin-top: -3rem;
  }
  .introduction__container__image > img {
    height: 9.375rem;
    width: 9.375rem;
  }
}

@media (max-width: 510px) {
  .introduction__container {
    width: 20rem;
  }
  .introduction__container__image {
    margin-left: 16rem;
  }
  .introduction__container__image > img {
    height: 7rem;
    width: 7rem;
  }
  .introduction__container__button { 
    margin-top: -2rem;
  }
}
