:root {
  --lightPurple: #bd94b4;
  --orange: #de5239;
  --darkPurple: #392939;
  --white: #ffffff;
}

body,
html {
  background-color: var(--lightPurple);
}

.introduction__container {
  display: block;
  position: relative;
  background-color: var(--white);
  height: 26rem;
  width: 29.188rem;
  margin: auto;
  margin-top: 5rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--orange);
}

.introduction__container__text {
  display: flex;
  text-align: center;
  padding: 7rem 0;
  color: var(--darkPurple);
  font-size: 1.125rem;
}

.introduction__container__button {
  text-align: center;
  margin-top: 1.5rem;
}

.introduction__container__image {
  margin-top: -5rem;
  position: absolute;
  margin-left: 20rem;
}
