@import '../base/pallete.css';

.player2__container {
  background-color: var(--purple);
  height: 100vh;
}

.player2__container__button {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.player2__container__content {
  display: block;
  position: relative;
  background-color: var(--white);
  height: 26rem;
  width: 29.188rem;
  margin: auto;
  border-radius: 1rem;
  border: 0.2rem solid var(--pink);
  overflow-y: scroll;
}

.player2__container__content::-webkit-scrollbar {
  display: none;
}

.player2__container__content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.player1__container__content__select {
  display: block;
  padding: 1rem;
}

.player1__container__content__selectFlex {
  display: flex;
  justify-content: space-between;
}

.player2__container__content__select__input {
  width: 4rem;
  text-align: center;
}

@media (max-width: 550px) {
  .player2__container__content {
    width: 25rem;
  }
}

@media (max-width: 450px) {
  .player2__container__content {
    width: 20rem;
  }
}

@media (max-height: 607px) {
  .player2__container {
    height: 100%;
  }
}