:root {
  --green: #399494;
  --red: #ff0000;
  --black: #000000;
  --white: #ffffff;
  --yellowGreen: #b3a125;
}

.result {
  background-color: var(--yellowGreen);
  height: 100vh;
}

.resultReject {
  background-color: var(--red);
  height: 100vh;
}

.result__container {
  display: block;
}

.result__container__text {
  color: var(--white);
  text-align: center;
  font-size: 2rem;
  margin-top: 7%;
}

.result__container__button {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 2rem;
}
