:root {
  --white: #ffffff;
  --green: #184a4a;
  --lightPurple: #bd94b4;
  --orange: #de5239;
  --darkPurple: #392939;
  --lightGreen: #73ac31;
  --greenBlue: #399494;
  --black: #000000;
  --greenBlue: #399494;
  --pink: #ff5a6a;
  --purple: #628bbd;
  --red: #ff0000;
  --yellowGreen: #b3a125;
  --boxShadow: rgba(33,33,33,.2);
}